{% extends  'markt/main.html' %}

{% load static %}
{% load bootstrap4 %}
{% block content %}
{% for message in messages  %}
             <h1>{{message}} </h1>

             {% endfor  %}   
<a href="{% url 'markt:inteface_customer' %}" class="btn btn-outline-success">  <font size="+1.5"   style="font-family:Noto Kufi Arabic Medium;">

رجوع  </font></a>
<form  id="form_werd"
 enctype="multipart/form-data"> 
    {% csrf_token %}
       
         

            <label><font size="+1.5" style="font-family: Noto Kufi Arabic Medium;">اسم الصنف   </font></label>
            <select  id="anjaz" class="form-control" dir="rtl" style="font-family: Noto Kufi Arabic Medium;size:1.5px;">
               <option selected disabled>اختيار   </option>
          {% for i in sanf %}


                <option value="{{i.id}}">{{i.name}}</option>
          {% endfor %}
              </select>
                <label><font size="+1.5" style="font-family: Noto Kufi Arabic Medium;">اسم  المنتج   </font></label>
          <input type="text" value=""name="werd_name" class="form-control"dir="rtl"
          id="prod_name" >


          
           
             
            <labe><font size="+1.5" style="font-family: Noto Kufi Arabic Medium;">اضافة صورة المنتج  </font></label>
        <input type="file"   style="font-family: Noto Kufi Arabic Medium;"class="form-control"  name="img_agree"   id="img_agree"dir="rtl" >


           <label><font size="+1.5" style="font-family: Noto Kufi Arabic Medium;">السعر   </font></label>
          <input type="text" value=""name="werd_name" class="form-control"dir="rtl"
          id="price"  >
  
     <hr>
     <input type="hidden"   id="hid_anjaz" name="hidden_anjaz">
           <input type="hidden"   id="text36">

        <input type="submit" value="ترحيل"   class="btn btn-primary" style="font-family: Noto Kufi Arabic Medium;size:1.5px;">

  


  </form>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script type="text/javascript">      
var $j = jQuery.noConflict();
 $j(document).ready(function() {
$('#form_werd').submit(function(e) {
        e.preventDefault();
                    var today = new Date();

// تحويل التاريخ إلى سلسلة نصية باستخدام الصيغة المحددة.
var date_string = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();

// تعيين القيمة المستخدمة إلى حقل النص المحدد.
$('#text36').val(date_string);
  
   
        
           var hid_anjaz=  $('#hid_anjaz').val()
     
    
                         var  img_agree=$ ('#img_agree')[0]
              const file_img_agree =img_agree.files[0]
        var   price=$('#price').val()
        var prod_name=$('#prod_name').val()




       
      

         if (hid_anjaz=="" ) {
        alert("يرجى تحديد الصنف")
     
           $('#anjaz').css('border-color','red');
            $('#img_agree').css('border-color','');
           
       }

else if(prod_name==""){
  alert("يجب عليك ادخال اسم المنتج ")
         $('#prod_name').css('border-color','red');
              $('#anjaz').css('border-color','');
          }
     else if(!/^[ء-ي\s]+$/.test(prod_name)){
  alert("يجب  ان يكون اسم المنتج نص  وليس رمز او رقم ")
         $('#prod_name').css('border-color','red');
              $('#anjaz').css('border-color','');
          }


      else if(!file_img_agree){
        alert("يجب  عليك  ادخال صورة المنتج")
         $('#img_agree').css('border-color','red');
           $('#prod_name').css('border-color','');
              $('#anjaz').css('border-color','');

       }

      
       
       else if (price ==""){
 $('#prod_name').css('border-color','');
              $('#anjaz').css('border-color','');
               $('#img_agree').css('border-color','');
               $('#price').css('border-color','red');
            alert('يجب عليك ادخال السعر')

        }
       else if (price !="" &&(!($.isNumeric (price)))  ||price<=0){
             $('#prod_name').css('border-color','');
              $('#anjaz').css('border-color','');
               $('#img_agree').css('border-color','');
               $('#price').css('border-color','red');
            alert('يجب ان يكون السعر رقم صحيح وليس رمز او نص')
         
          return false;

      }
       
else{
         

      
var  form_data = new FormData();
 var form_data = new FormData(this);



form_data.append('hid_anjaz', document.querySelector('#hid_anjaz').value);
form_data.append('prod_name', document.querySelector('#prod_name').value);
form_data.append('price', document.querySelector('#price').value);
form_data.append('img_agree', document.querySelector('#img_agree').files[0]);
var xhr = new XMLHttpRequest();
xhr.open('POST', '/markt/add_prodect_to_db');
xhr.onload = function() {
    alert("تم الترحيل بنجاح")
   
    window.location.href="{%  url 'markt:add_prodect' %}"
};
xhr.send(form_data); 
}
});
});
</script>



  <script type="text/javascript">
var anjaz=document.querySelector('#anjaz');
anjaz.addEventListener('change',function(){
t=anjaz.value;

document.getElementById("hid_anjaz").value=t;



});
  </script>

  {% endblock %}
