{% extends  'markt/main.html' %}

{% load static %}
{% load bootstrap4 %}
{% block content %}
<a href="{% url 'markt:store' %}" class="btn btn-outline-success">
  <font size="+1.5" style="font-family: Noto Kufi Arabic Medium;">
    رجوع
  </font>
</a>
<div class="row">
  <div class="col-lg-12">
<div id="scrolling-text">
  <p>
    نحن شركة خياطة متخصصة في تقديم خدمات خياطة عالية الجودة لعملائنا. نحن نعتبر الأناقة والدقة والتفاصيل الدقيقة من أهم العناصر التي نركز عليها في عملنا. يمتلك فريقنا من الحرفيين المهرة خبرة واسعة في مجال الخياطة، ونحن نستخدم أحدث التقنيات والمعدات لضمان تنفيذ أعمالنا بأفضل شكل ممكن.
  </p>
  <p>
    عندما يتعلق الأمر بخدماتنا، نقدم مجموعة واسعة من الخدمات التي تشمل تفصيل الملابس المخصصة، وإصلاحات الملابس، وتعديلات التصميم، وتنفيذ المشاريع الخاصة. سواء كنت تبحث عن تصميم فريد وأنيق ، أو ترغب في تعديل ملابسك لتناسب مقاسك بشكل مثالي، فإننا هنا لتلبية احتياجاتك.
  </p>
  <p>
    نحن نهتم برضا عملائنا ونعمل بشكل وثيق معهم لفهم رؤيتهم ومتطلباتهم. نحن نسعى جاهدين لتحقيق التفوق في جميع جوانب خدماتنا، بدءًا من توفير مواد عالية الجودة إلى تنفيذ التفاصيل بدقة فائقة.
  </p>
  <p>
    تواصل معنا اليوم للاستفسارات أو للبدء في تنفيذ مشروعك الخاص. نحن نتطلع إلى خدمتك ومساعدتك في تحقيق أفضل إطلالة ممكنة من خلال خدماتنا المتميزة في مجال الخياطة.
  </p>
</div>
</div>
</div>


<style>
#scrolling-text {
  font-size: 24px;
  color: #000;
  background-color: #fff;
  direction: rtl;
  border: 2px solid #000;
  padding: 10px;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  animation: scroll-down 10s infinite;
}

@keyframes scroll-down {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
</style>


{% endblock content %}