




		 
{% extends   'markt/main.html' %}

{% load static %}
{% load bootstrap4 %}
{% block content %}




   

<div class="row">
 <div class="col-lg-12" style="">
  <marquee direction="right"  class="btn btn-secondary" height="90%"  ><font size="+3" 
  style="font-family:TheSansArabic Bold;" >رؤيتنا -

بناء مدينة سعيدة ومستدامة    -   رسالتنا -

تخطيط وتطوير وإدارة مدينة متميّزة تتوافر فيها استدامة رفاهية العيش ومقوّمات النجاح  </font></marquee></div>
</div>
<br>

  
 <div class="row">



   <div class="col-lg-3">
   <a class="form-control btn btn-outline-danger"  
   href="{% url 'my_job:screen_makts_altftish' %}" ><font
   style="font-family:TheSansArabic Bold;" size="+1.5">
قسم التفتيش   </font></a>
</div>

   <div class="col-lg-3">
   <a class="form-control btn btn-outline-success"  
   href="{% url 'my_job:screen_makts_albana' %}" ><font
   style="font-family:TheSansArabic Bold;" size="+1.5">قسم رخص البناء </font></a>
</div>
   <div class="col-lg-3">
   <a class="form-control btn btn-outline-success"  
   href="{% url 'my_job:show_emp_mangement_fane' %}" >ا<font
   style="font-family:TheSansArabic Bold;" size="+1.5">لشؤون الفنية  </font></a>

</div>
   <div class="col-lg-3">
   <a class="form-control btn btn-outline-success"  
   href="{% url 'my_job:show_sevice_jamhore' %}" ><font
   style="font-family:TheSansArabic Bold;" size="+1.5">خدمة الجمهور  </font></a>

</div>
</div>

 <div class="row">



   <div class="col-lg-3">
   <a class="form-control btn btn-outline-success"  
   href="{% url 'my_job:screen_mahn' %}" ><font
   style="font-family:TheSansArabic Bold;" size="+1.5">قسم المهن  </font></a>
</div>

   <div class="col-lg-3">
   <a class="form-control btn btn-outline-success"  
   href="{% url 'my_job:screen_marfg_asog' %}" ><font
   style="font-family:TheSansArabic Bold;" size="+1.5">المرافق والاسواق  </font></a>
</div>
   <div class="col-lg-3">
   <a class="form-control btn btn-outline-success"  
   href="{% url 'my_job:screen_account' %}" ><font
   style="font-family:TheSansArabic Bold;" size="+1.5">الشؤون المالية  </font></a>

</div>
   <div class="col-lg-3">
   <a class="form-control btn btn-outline-success"  
   href="{% url 'my_job:screen_manger_interface' %}" ><font
   style="font-family:TheSansArabic Bold;" size="+1.5">مدير الفرع </font></a>

</div>
</div>
 <div class="row">



   <div class="col-lg-3">
   <a class="form-control btn btn-outline-danger"  
   href="{%  url 'my_job:show_tahgag'  %}" >ا<font
   style="font-family:TheSansArabic Bold;" size="+1.5">لشكاوى والبلاغات  </font></a>
</div>

   <div class="col-lg-3">
   <a class="form-control btn btn-outline-success"  
   href="ُ#" ><font
   style="font-family:TheSansArabic Bold;" size="+1.5">التخطيط والاحصا   </font></a>
</div>
   <div class="col-lg-3">
   <a class="form-control btn btn-outline-success"  
   href="#" ><font
   style="font-family:TheSansArabic Bold;" size="+1.5">الشرون القانونية  </font></a>

</div>
   <div class="col-lg-3">
   <a class="form-control btn btn-outline-success"  
   href="{% url 'my_job:screen_emp_user' %}" ><font
   style="font-family:TheSansArabic Bold;" size="+1.5">قسم الموارد البشرية  </font></a>

</div>
</div>



 



       


{% endblock  %}



    


